body, html {
    height:100%;
    margin: 0px;
    font-size:16px;
    font-family:"Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color:#666;
    padding: 0px;
}

body {
    perspective: 1px;
    transform-style: preserve-3d;
}

.parallax-wrapper {
    width: 100vw;
    height:100vh;
    padding-top:0;
    box-sizing: border-box;
}

/* .parallax-wrapper::before {
    content:"";
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
    background-image: url("/your-bkg.png");
    position: absolute;
    z-index: -1;
} */

html {
    overflow: hidden;
}
body {
    height: 100vh;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x:hidden;
    overflow-y:auto;
}
/* .parallax-wrapper {
    transform-style: preserve-3d;
} */

.parallax-wrapper::before {
    transform:translateZ(-1px) scale(2);
} 

.parallax-wrapper::before {
    z-index: -1;
}
.regular-wrapper {
    z-index: 2;
    position: relative;
}

/* .parallax-wrapper{
    -webkit-transform: translateZ(-9px) scale(2);
    transform: translateZ(-1px) scale(2);
    z-index: 2;
    opacity: 1;
} */

.center-fit {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.pimg1, .pimg2, .pimg3, .pimg4 {
    position:relative;
    opacity:0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    /*
    fixed = parallax
    scroll = normal
    */
    background-attachment: fixed;

    /*
    slow down the background for parallax
    */
    perspective: 1px;
    transform-style: preserve-3d;
}

.pimg1{
    background-image: url('Images/with\ plants.JPG');
    min-height: 100%;
}

.pimg2{
    background-image: url('Images/2.JPG');
    min-height: 100%;
}

.pimg3{
    background-image: url('Images/3.JPG');
    min-height: 100%;
}

.pimg4{
    background-image: url('Images/4.JPG');
    min-height: 100%;
}

.section{
    text-align: center;
    padding: 50px 80px;
}

.section-light{
    background-color: #f4f4f4;
    color: #666;
}

.section-dark{
    background-color: #282e34;
    color: #ddd;
}

.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptext .border{
    background-color: #111;
    color: #fff;
    padding: 20px;
}

.ptext .border.trans{
    background-color: transparent;
}

@media(max-width: 568px){
    .pimg1, .pimg2, .pimg3, .pimg4{
        background-attachment: scroll;
    }
}

.box-img {
    width: 400px;
}